h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

a {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 3vh;
}



.ProductDetails-img {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}
